// Your custom styles
body{
  background-color: #efefef;
}
.fondo{ color: #efefef;}
.verdeaires { color: #00752f}

.btn-verdesaires{
  background-color: #00752f;}

.btn-verdesaires:hover{color: black;}

.pb-5, .py-5{padding-bottom: 0 !important;}

.dropdown-menu
  {background-color: #efefef; opacity: 0.8;}
